{% extends 'base.html' %}

{% load static %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
	
{% block header %} {% include 'header.html' %} {% endblock header %}

{% block content %}
<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row d-flex no-gutters">
			<div class="col-md-6 d-flex">
				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(static/images/about.jpg);">
				</div>
			</div>
			<div class="col-md-6 pl-md-5 py-md-5">
				<div class="heading-section pl-md-4 pt-md-5">
					<span class="subheading">Why Noz Proffesionals</span>
			<h2 class="mb-4">We Are the Best Accounting Agency</h2>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wealth"></span></div>
					<div class="text pl-4">
						<h4>Quality Service Delivery</h4>
						<p>We ensure that we serve our clients the best of the best, and we take our time to make sure that what they get is above or within industry standards.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
					<div class="text pl-4">
						<h4>Technology</h4>
						<p>We leverage state of the art technology with the latest programs to deliver the task on time and with accuracy.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
					<div class="text pl-4">
						<h4>Diligent</h4>
						<p>We execute assignments with great care and conscientiousness.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<h4>Confidentiality</h4>
						<p>We understand that in today's world, information secrecy is vital; hence, we make sure all our client's data and information are kept private and not accessible to unauthorized persons. We are professionals. Confidentiality is our ethical duty; be rest assured.</p>
					</div>
				</div>
		</div>
	</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row">
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-accounting-1"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Accounting Services</h3>
			<p style="font-size: 16px;">     We provide various services in this segment. We want you to concentrate on your core competencies while recommending ways to reduce costs and keep your account books up to date. We offer the following accounting services: <br>
				a. Bookkeeping Services <br>
				b. Payroll Services <br>
				c. Management Accounts <br>
				d. Cost Accounting <br>
				e. Financial Statement <br>
				f. Accounting System Set-up</p>
		  </div>
		</div>      
	  </div>
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-tax"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Tax Planning &amp; Preparation</h3>
			<p style="font-size: 16px;">We are a Chartered Accountant with years of experience in taxation; we understand the Nigerian tax law and administration, which enables us to be your correct plug for tax planning. We recommend ways to reduce your tax liability legally through effective tax planning. The following are some of the services we offer: <br>
				a. Tax Registration with the tax authority (individual and corporate) <br>
				b. Tax returns and Self-assessments <br>
				c. Statutory Returns.</p>
		  </div>
		</div>    
	  </div>
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-loan"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Business Services</h3>
			<p style="font-size: 16px;">     We give business services to MSMEs; we help them get their business started from start to finish. We also follow -up with them by providing them with essential recommendations to help their business grow. We offer the following services in Business Services: <br>
				a. Business Registrationb <br>
				b. Business plan writing <br>
				c. Feasibility Studies <br>
				d. Cashflow Projections</p>
		  </div>
		</div>      
	  </div>
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-budget"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Growth &amp; Funding Access</h3>
			<p style="font-size: 16px;">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
		  </div>
		</div>      
	  </div>
	</div>
	</div>
</section>

<section class="ftco-section testimony-section bg-light">
	<div class="overlay"></div>
  <div class="container">
	<div class="row justify-content-center pb-5 mb-3">
	  <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
		  <span class="subheading">Testimonies</span>
		<h2>Happy Clients &amp; Feedbacks</h2>
	  </div>
	</div>
	<div class="row ftco-animate">
	  <div class="col-md-12">
		<div class="carousel-testimony owl-carousel ftco-owl">
		  <div class="item">
			<div class="testimony-wrap py-4">
				<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
			  <div class="text">
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<div class="d-flex align-items-center">
					<div class="user-img" style="background-image: url(static/images/person_1.jpg)"></div>
					<div class="pl-3">
						<p class="name">Roger Scott</p>
						<span class="position">Marketing Manager</span>
					  </div>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap py-4">
				<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
			  <div class="text">
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<div class="d-flex align-items-center">
					<div class="user-img" style="background-image: url(static/images/person_2.jpg)"></div>
					<div class="pl-3">
						<p class="name">Roger Scott</p>
						<span class="position">Marketing Manager</span>
					  </div>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap py-4">
				<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
			  <div class="text">
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<div class="d-flex align-items-center">
					<div class="user-img" style="background-image: url(static/images/person_3.jpg)"></div>
					<div class="pl-3">
						<p class="name">Roger Scott</p>
						<span class="position">Marketing Manager</span>
					  </div>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap py-4">
				<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
			  <div class="text">
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<div class="d-flex align-items-center">
					<div class="user-img" style="background-image: url(static/images/person_1.jpg)"></div>
					<div class="pl-3">
						<p class="name">Roger Scott</p>
						<span class="position">Marketing Manager</span>
					  </div>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap py-4">
				<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
			  <div class="text">
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<div class="d-flex align-items-center">
					<div class="user-img" style="background-image: url(static/images/person_2.jpg)"></div>
					<div class="pl-3">
						<p class="name">Roger Scott</p>
						<span class="position">Marketing Manager</span>
					  </div>
				  </div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>

<section class="ftco-section ftco-no-pt bg-light ftco-faqs">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="img-faqs w-100">
					<div class="img mb-4 mb-sm-0" style="background-image:url(static/images/about-2.jpg);">
					</div>
					<div class="img img-2 mb-4 mb-sm-0" style="background-image:url(static/images/about-1.jpg);">
					</div>
				</div>
			</div>
			<div class="col-lg-6 pl-lg-5">
				<div class="heading-section mb-5 mt-5 mt-lg-0">
					<span class="subheading">FAQs</span>
			<h2 class="mb-3">Frequently Asks Questions</h2>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
				<div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
					  <div class="card">
						<div class="card-header p-0" id="headingOne">
						  <h2 class="mb-0">
							<button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
								<p class="mb-0">How to fixed a problem?</p>
							  <i class="fa" aria-hidden="true"></i>
							</button>
						  </h2>
						</div>
						<div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
						  <div class="card-body py-3 px-0">
							  <ol>
								  <li>Far far away, behind the word mountains</li>
								  <li>Consonantia, there live the blind texts</li>
								  <li>When she reached the first hills of the Italic Mountains</li>
								  <li>Bookmarksgrove, the headline of Alphabet Village</li>
								  <li>Separated they live in Bookmarksgrove right</li>
							  </ol>
						  </div>
						</div>
					  </div>

					  <div class="card">
						<div class="card-header p-0" id="headingTwo" role="tab">
						  <h2 class="mb-0">
							<button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
								<p class="mb-0">How to manage your business loans?</p>
							  <i class="fa" aria-hidden="true"></i>
							</button>
						  </h2>
						</div>
						<div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
						  <div class="card-body py-3 px-0">
							  <ol>
								  <li>Far far away, behind the word mountains</li>
								  <li>Consonantia, there live the blind texts</li>
								  <li>When she reached the first hills of the Italic Mountains</li>
								  <li>Bookmarksgrove, the headline of Alphabet Village</li>
								  <li>Separated they live in Bookmarksgrove right</li>
							  </ol>
						  </div>
						</div>
					  </div>

					  <div class="card">
						<div class="card-header p-0" id="headingThree" role="tab">
						  <h2 class="mb-0">
							<button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
								<p class="mb-0">How to grow your investments funds?</p>
							  <i class="fa" aria-hidden="true"></i>
							</button>
						  </h2>
						</div>
						<div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
						  <div class="card-body py-3 px-0">
							  <ol>
								  <li>Far far away, behind the word mountains</li>
								  <li>Consonantia, there live the blind texts</li>
								  <li>When she reached the first hills of the Italic Mountains</li>
								  <li>Bookmarksgrove, the headline of Alphabet Village</li>
								  <li>Separated they live in Bookmarksgrove right</li>
							  </ol>
						  </div>
						</div>
					  </div>

					  <div class="card">
						<div class="card-header p-0" id="headingFour" role="tab">
						  <h2 class="mb-0">
							<button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
								<p class="mb-0">What are those requirements for businesses?</p>
							  <i class="fa" aria-hidden="true"></i>
							</button>
						  </h2>
						</div>
						<div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
						  <div class="card-body py-3 px-0">
							  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						  </div>
						</div>
					  </div>
					</div>
		</div>
	</div>
	</div>
</section>	

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
	  <div class="col-md-7 heading-section text-center ftco-animate">
		  <span class="subheading">Price &amp; Plans</span>
		<h2>Affordable Packages</h2>
	  </div>
	</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
		  <div class="block-7">
			<div class="text-center">
				<span class="excerpt d-block">Personal</span>
			<span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mos</sub></span>
			
			<ul class="pricing-text mb-5">
			  <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
			  <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Branding Services</li>
			  <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Sales Management</li>
			</ul>

			<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			</div>
		  </div>
		</div>
		<div class="col-md-6 col-lg-3 ftco-animate">
		  <div class="block-7">
			<div class="text-center">
			<span class="excerpt d-block">Business</span>
			<span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mos</sub></span>
			
			<ul class="pricing-text mb-5">
			  <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
			  <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Branding Services</li>
			  <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Sales Management</li>
			</ul>

			<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			</div>
		  </div>
		</div>
		<div class="col-md-6 col-lg-3 ftco-animate">
		  <div class="block-7">
			<div class="text-center">
				<span class="excerpt d-block">Ultimate</span>
			<span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mos</sub></span>
			
			<ul class="pricing-text mb-5">
			  <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
			  <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Branding Services</li>
			  <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Sales Management</li>
			</ul>

			<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			</div>
		  </div>
		</div>
		<div class="col-md-6 col-lg-3 ftco-animate">
		  <div class="block-7">
			<div class="text-center">
				<span class="excerpt d-block">Premium</span>
			<span class="price"><sup>$</sup> <span class="number">149</span> <sub>/mos</sub></span>
			
			<ul class="pricing-text mb-5">
			  <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
			  <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Branding Services</li>
			  <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
			  <li><span class="fa fa-check mr-2"></span>Sales Management</li>
			</ul>

			<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</section>
{% endblock content %}
	
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
	