{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}" style="font-size: 40px;"><img src="{% static '' %}images/Noz.png" alt="" style="height: 50px; width: 150px;"></a>
		<form action="#" class="searchform order-sm-start order-lg-last">
	  <div class="form-group d-flex">
		<input type="text" class="form-control pl-3" placeholder="Search">
		<button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
	  </div>
	</form>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="fa fa-bars"></span> Menu
	  </button>
	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav m-auto">
			<li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
			<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
			<li class="nav-item active"><a href="{% url 'services' %}" class="nav-link">Our Services</a></li>
		 	<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact Us</a></li>
		</ul>
	  </div>
	</div>
  </nav>
{% endblock navbar %}
	
{% block header %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row no-gutters slider-text align-items-end">
		<div class="col-md-9 ftco-animate pb-5">
			<p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
		  <h1 class="mb-0 bread">Services</h1>
		</div>
	  </div>
	</div>
  </section>
{% endblock header %}

{% block content %}
<section class="ftco-section">
	<div class="container">
		<div class="row">
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-accounting-1"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Accounting Services</h3>
			<p style="font-size: 16px;">     We provide various services in this segment. We want you to concentrate on your core competencies while recommending ways to reduce costs and keep your account books up to date. We offer the following accounting services: <br>
				a. Bookkeeping Services <br>
				b. Payroll Services <br>
				c. Management Accounts <br>
				d. Cost Accounting <br>
				e. Financial Statement <br>
				f. Accounting System Set-up</p>
		  </div>
		</div>      
	  </div>
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-tax"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Tax Planning &amp; Preparation</h3>
			<p style="font-size: 16px;">We are a Chartered Accountant with years of experience in taxation; we understand the Nigerian tax law and administration, which enables us to be your correct plug for tax planning. We recommend ways to reduce your tax liability legally through effective tax planning. The following are some of the services we offer: <br>
				a. Tax Registration with the tax authority (individual and corporate) <br>
				b. Tax returns and Self-assessments <br>
				c. Statutory Returns.</p>
		  </div>
		</div>    
	  </div>
	  <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
		<div class="d-block">
		  <div class="icon d-flex mr-2">
				<span class="flaticon-loan"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Business Services</h3>
			<p style="font-size: 16px;">     We give business services to MSMEs; we help them get their business started from start to finish. We also follow -up with them by providing them with essential recommendations to help their business grow. We offer the following services in Business Services: <br>
				a. Business Registrationb <br>
				b. Business plan writing <br>
				c. Feasibility Studies <br>
				d. Cashflow Projections</p>
		  </div>
		</div>      
	  </div>
	</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row d-flex no-gutters">
			<div class="col-md-6 d-flex">
				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(static/images/about.jpg);">
				</div>
			</div>
			<div class="col-md-6 pl-md-5 py-md-5">
				<div class="heading-section pl-md-4 pt-md-5">
					<span class="subheading" style="font-style: garamond;">Why Noz Proffesionals</span>
			<h2 class="mb-4" style="font-size: 15px;">Noz Professionals has years of experience supporting the growth of MSMEs. Our clients want us because we give:</h2>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wealth"></span></div>
					<div class="text pl-4">
						<h4>Quality Service Delivery</h4>
						<p>We ensure that we serve our clients the best of the best, and we take our time to make sure that what they get is above or within industry standards.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
					<div class="text pl-4">
						<h4>Technology</h4>
						<p>We leverage state of the art technology with the latest programs to deliver the task on time and with accuracy.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
					<div class="text pl-4">
						<h4>Diligent</h4>
						<p>We execute assignments with great care and conscientiousness.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<h4>Confidentiality</h4>
						<p>We understand that in today's world, information secrecy is vital; hence, we make sure all our client's data and information are kept private and not accessible to unauthorized persons. We are professionals. Confidentiality is our ethical duty; be rest assured.</p>
					</div>
				</div>
		</div>
	</div>
	</div>
</section>


{% endblock content %}
	
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
	